@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
:root{
    /* Colors */
    --title-color: #000000;
    --text-color: rgba(0, 0, 0, 0.8);
    --button-color:#18A0FB;
    --button-color-alt:#136ca8;

    --header-height: 48px;
    --container-color:#FFF;


    --body-font: 'Montserrat';

    --big-font-size:32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;

    /* Font weight */

    --font-medium:500;
    --font-semi-bold:600;

    /* Margins */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */

    --mb-4: 4px;
    --mb-8: 8px;
    --mb-12: 12px;
    --mb-16: 16px;
    --mb-24: 24px;
    --mb-32: 32px;
    --mb-40:40px ;
    --mb-48: 48px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    background-color: var(--container-color);
}

::-webkit-scrollbar {
    width: 10px;

  }
::-webkit-scrollbar-thumb {
    background: #46b7ef;
    border-radius: 10px;
  }
  

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-12);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


/* =====================HEADER========================= */


.button{
    background-color: #FFF;
    border-radius: 8px;
    width: 86px;
    height: 32px;
    margin-top: var(--mb-12);
    color: var(--button-color);
    border: 1px solid var(--button-color);
}
.button:hover{
    color: #FFF;
    transition: .3s;
    background-color: var(--button-color);

}

nav{
    max-width: 1360px;
    padding: var(--mb-48) var(--mb-24);
    margin: 0 auto;
    /* height: var(--header-height); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color:#18A0FB;
}
.nav-menu a:hover{
    font-size: 18px;
    color:var(--button-color-alt);
    transition: .3s;
    font-weight: 600;

}
.nav-list, .nav-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-toggle{
    display: none;
}
.login-button{
    width: 130px;
    height: 40px;
    text-align: center;
    padding: 9px;
    color: var(--button-color);
    border-radius: 8px;
    border: 1px solid var(--button-color);
}
.register-button {
    width: 130px;
    height: 40px;
    color: #FFF;
    padding: 9px;
    text-align: center;
    font-weight: 100;
    border-radius: 8px;
    background-color: var(--button-color);
}
.login-button:hover{
    background-color: var(--button-color-alt);
    color: #FFF;
    transition: .3s;
    border: 1px solid var(--button-color);
}
.register-button:hover{
    background-color: var(--button-color-alt);
    transition: .3s;
    border: 1px solid var(--button-color);
}


/* ====================MAIN================================= */


.join{
    background-color: var(--button-color);
    color: #FFF;
    width: 190px;
    height: 50px;
    font-size: 18px;
    margin-top: var(--mb-12);
    border: none;
    border-radius: 8px;
    
}
.join:hover{
    color: #FFF;
    background-color: var(--button-color-alt);
    border: 1px solid var(--button-color-alt);
}

.main-video {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
 
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.video-txt{
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-txt h1 {
    
    font-weight: 400;
    text-align:center;
    color:#fff;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
}
.snap{
    max-width: 1360px;
    margin: 0 auto;
    padding: var(--mb-24) var(--mb-24);
}
.snap-title{
    font-size: 24px;
    margin-bottom: var(--mb-24);
}
.snap-content{
    max-width: 500px;
}
.snaps{
    display: grid;
    grid-template-columns: repeat(2, 550px);
    gap: 40px;
}

.sed-content-txt, .sed-content-img{
    max-width: 550px;
    height: 360px;

}
.sed-content-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--mb-12);
    justify-content: center;

}
.sed-content1, .sed-content2{
    padding: var(--mb-24) 0;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.sedd{
    background-color: #F5F5F5;
}

/* =============COMPANY================= */

.company-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: var(--mb-24) var(--mb-24);
    text-align: center;
}
.company-title{
    font-size: var(--h1-font-size);
}
.company-subtitle{
    font-size: var(--h2-font-size);
}

.company-content{
    padding: var(--mb-24) var(--mb-24);
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.content-item img{
    width: 300px;
    height: 200px;
}

/* ===================BOTTOM JOIN============= */

.bottom-content{
    background-color: #F5F5F5;
}
.bottom-item{
    max-width: 1360px;
    margin: 0 auto;
    padding: var(--mb-48) var(--mb-24);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 250px;
}
.bottom-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* ===================FOOTER================== */

.footer-nav{
    max-width: 1360px;
    margin: 0 auto;
    padding: var(--mb-24) var(--mb-24);
    color: #000000;
}
.footer-nav a{
    color: #000000;
    font-weight: 600;
}

.footer-social{
    max-width: 1360px;
    margin: 0 auto;
    padding: var(--mb-24);
    text-align: center;
    font-size: 24px;
}
 .up{
    position: fixed;
    right: 20px;
    bottom: 50px;
    
 }
.up a{
    font-size: 30px;
    color: var(--button-color);
}
.instagram:hover{
    color: #db2864;
    transition: .3s;
}
.twitter:hover{
    color: #1a61f0;
    transition: .3s;
}
.facebook:hover{
    color: #0e36d5;
    transition: .3s;
}
.linkedin:hover{
    color: #1a08e4;
    transition: .3s;
}
.social-items{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content:center ;
}


/* ===============RESPONSIVE============ */

@media screen and (max-width:760px) {

    nav{
        max-width: 760px;
        margin: 0 auto;
        gap: 15px;
        padding: var(--mb-12);
    }
    .nav-logo {
        min-width: 80px;
        
    }

    .nav-toggle{
        display: block;
        color: #18A0FB;
    }
    .nav-menu{
        display: none;
    }
    .snaps{
        display: grid;
        grid-template-columns: repeat(1, 300px);
        gap: 40px;
    }
    .login-button, .register-button{
        width: 90px;
        height: 30px;
        padding: 5px;
        font-size: 14px;
    }
    .main-video{
        min-width: 350px;
    }
    .video-txt h1{
        font-size: 24px;
        font-weight: 600;
    }
    .join{
        width: 100px; 
        font-size: 15px;
    }
    .snap{
        max-width: 760px;
        margin: 0 auto;
    }
    .snap-title{
        font-size: 18px;
    }
    .sed-content1, .sed-content2{
        display: flex;
        flex-direction: column;
        height: 500px;
    
    }
    .company-container{
        max-width: 760px;
        margin: 0 auto;
        padding: var(--mb-24) var(--mb-24);
        text-align: center;
    }
    .company-title{
        font-size: var(--h3-font-size);
    }
    .company-content{
        margin-top: var(--mb-16);
        padding: var(--mb-24) var(--mb-24);
        display: grid;
        grid-template-columns: repeat(1, 300px);
        gap: 60px;
        align-items: center;
        justify-content: center;
    }
    .sed-content-img{
        max-width: 400px;
        max-height: 350px;
    }
    .bottom-item{
        max-width: 760px;
        margin: 0 auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 761px) and (max-width:900px) {
    nav{
        max-width: 890px;
        margin: 0 auto;
        gap: 15px;
        padding: var(--mb-12);
    }
    .nav-logo {
        min-width: 80px;
        
    }

    .nav-toggle{
        display: block;
        color: #18A0FB;
    }
    .nav-menu{
        display: none;
    }
    .snaps{
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 20px;
        margin: var(--mb-24);
    }
    .sed-content-txt, .sed-content-img{
        max-width: 400px;
        max-height: 270px;
    
    }
    .sed-content1, .sed-content2{
        height: 280px;
        padding: var(--mb-24);
        display: flex;
        align-items: center; 
        justify-content: center;

    }
    .company-content{
        padding: var(--mb-24) var(--mb-24);
        display: grid;
        grid-template-columns: repeat(3, 230px);
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .company-title{
        font-size: 20px;
    }
}

/* =============Hidden Menu */

.back-menu{
    padding: var(--mb-32);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 199;
    top: -100vh;
    right: 0;
    filter: opacity(40%);
    background-color: #F5F5F5;
}

.hidden-menu{
    padding: var(--mb-32);
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 200;
    top: -200px;
    right: 0;
    background-color: #F5F5F5;
}
.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.exit{
    position: absolute;
    top: 10px;
    color: var(--button-color);
    right: 30px;
}
.hide{
    top: 0px;
    transition: .5s;
}


/* ================LOADER============= */

.preloader{
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/preloader-1.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    z-index: 400;
}



/* ================KUN va TUN ===================*/

.night{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--button-color);
    border-radius: 50% 50%;
    position: fixed;
    right: 15px;
    bottom: 110px;
    z-index: 1000;
   
}
.moon{
    color: #FFF;
    /* display: none; */
}
.moon:hover{
    color: #b00eb6;
    transition: .3s;
    
}

.sun:hover{
    color: #b00eb6;
    transition: .3s;
    
}
.sun{
    color: #FFF;
    display: none;
}